body {
    background-color: #F4FDFF; 
    color: #05204A;
}

h1 {
    background-color: #05204A; 
    color: #F4FDFF;
    text-align: center;
    padding: 20px;
}

h3 {
    color: white;
    background-color: #05204A;
}

address {
    border: 5px ridge #6F8695;
}

.parraf {
            background-color: #F4FDFF;
            padding: 20px;
            border: 1px solid #6F8695;
            border-radius: 10px;
            width: 1000px;
}

nav {
    background-color: #F4FDFF;
    padding: 15px;
    border: 1px solid #6F8695;
    border-radius: 10px;
    padding: 10px;
    width: 700px;
}

aside {
    background-color: #05204A;
    color: #F4FDFF;
    padding: 15px;
    border: 1px solid #6F8695;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    position: absolute;
    right: 90px;
    top: 150px; 
}

.audio {
    width: 500px;
    
}

form {
    width: 200px;
}

.back {
    border: 1px solid #05204A;
    background-color: #05204A;
    color: #F4FDFF;
    border-radius: 20px;
    padding: 10px;
}