#a16 {
    border: 5px groove gray;
    background-color: rgb(117, 117, 117);
    padding: 5px 10px;
    width: 160px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#a16 a {
    color: dodgerblue;
}