h1{
    text-align: center;
  border: 15px solid white;  
  color: white;               
  background-color: blue;    
  
  margin: 20px auto;         
}


a{
    border: 5px solid rgb(7, 184, 33);
    color: white;
    background-color: rgb(7, 184, 33);
    width: 100px;
    border-radius: 5px;

}

hr{
    border: 2px solid black;
    color: black;
    width: auto;
    clear: both;
}

address{
    
    border: 5px solid blue;
    color: white;
    background-color: blue;
    width: 200px ;
}

p{
    border: 10px whitesmoke;
    color: black; 
    background-color: whitesmoke;
    width: auto;
}

h2{
  border: 10px solid darkorchid;  
  color: black;               
  background-color: darkorchid;    
  width: 200px;
  border-radius: 20px;    
  font-size: bold;     
  font-weight: lighter;
}


h3{
  color: black;   
  font-size: 16px;     
  font-weight: lighter;
}
