h1 {
  color: rgb(0, 0, 0);
  background-color: rgb(39, 68, 148);
  border: 3px solid rgb(7, 2, 88);
}

h2 {
  color: rgb(2, 71, 2);
}

h3 {
  color:rgb(72, 26, 189);
}

.imgfutbol {
    width: 400px;
}

.imgestadio {
  width: 700px;
}

.imgmarvel {
  width: 500px;
}
  
.imgconjuro {
  width: 416px;
}

.imgvisorias {
  width: 400px;
}

.imgjuego1 {
  width: 400px;
}

.imgjuego2 {
  width: 200px;
}

.imgjuego3 {
  width: 267px;
}

.imgjuego4 {
  width: 400px;
}

.imgnat1 {
  width: 281px;
}

.imgnat2 {
  width: 500px;
}

.imgnat3 {
  width: 500px;
}

footer {
  font-style: italic;
}

body {
  background-color: rgb(139, 160, 177);
}

form {
  margin-top: 20px;
}

.bodyev {
  background-color: darkgrey;
}

#deportes * {
  color: rgb(2, 71, 2);
} 

#deportes p {
  font-family: 'Times New Roman', Times, serif;
}

#parrafo {
  text-decoration: underline;
}

.parrafo2 {
  font-size: 18px;
}

a[href*="PaginaPrincipal"] {
  background-color: darkcyan;
}

li, a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

address p {
  background-color: rgb(48, 149, 153);
  border: 3px solid black;
}

article > img {
  border: 3px solid black;
}

hr + h3 {
  color: midnightblue;
}

h3 ~ table {
  background-color: cadetblue;
}
