/* Hoja de estilos para el apartado de las evidencias */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.c-background {
    background: radial-gradient(rgb(214, 6, 6), black) ;
}
.first-header {
    background:#e9b363;
    border-bottom: 7px solid #745940;
    color:rgb(68, 19, 19);
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.article-body {
    padding: 0px 150px 30px;
}
#no-ev {
    background: #be9955;
    border-radius: 10px;
    color: rgb(68, 19, 19);
    font-size: 25px;
    text-align: center;
}
.section {
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    text-align: justify;
    padding: 5px 70px 15px;
}
#no-practica {
    background: rgb(185, 183, 183);
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
}
.datos-personales {
    background: rgb(27, 27, 31);
    color:blanchedalmond;
    border-bottom: 10px solid black;
    font-size: 15px;
    font-weight:bold;
    padding: 5px 150px 5px;
}