/* Hoja de estilos para el apartado de las actividades */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fondo {
    background-color: #2A1A1F;
}
.titulo-principal {
    background:rgb(255, 209, 124);
    border-bottom: 4px solid rgb(131, 86, 34);
    color: rgb(82, 27, 27);
    text-align: center;
    padding: 10px;
}
.cuerpo {
    padding: 0px 50px 30px;
}
#no-evidencia {
    color: rgb(82, 27, 27);
    background: rgb(196, 149, 63);
    padding: 0px 70px 5px;

}
h2 {
    text-align: center;
    font-size: 27px;
    padding: 10px 0px 0px;
}

section {
    background-color: #764134;
    border-radius: 10px;
    color: white;
    padding: 0px 70px 5px;
}

.datos-personales {
    background: rgb(44, 46, 48);
    border-bottom: 4px solid rgb(155, 106, 42);
    color: whitesmoke;
    padding: 5px;
    font-size: 17px;
    padding: 1px 70px 5px;
}