body{
    background-color: #e9d8fd;
}

aside{
    padding: 20px;
    background: #d6bcfa;
    border: 3px dotted #805ad5;
}

hr{
    border: none;
    border-top: 3px dotted #553c9a;
    height: 3px;
    margin: 20px 0;            
}

li{
    text-align: justify;
}

h1{
    color: #322659;
    text-align: center;
}

h2{
    color: #5a3ea6;
    text-align: center;
    font-style: italic;
}

h3{
    color: #5a3ea6;
    font-style: italic;
}

p{
    text-align: justify;
    color: #2d165d;
}

video{
    display: block;
    margin: 0 auto;

}

img{
    display: block;
    margin: 0 auto; 
}