/* Selector universal */
* {
    font-family: 'Times New Roman', Times, serif;
}


body{
    background-color: rgb(171, 126, 219);
}

aside{
    padding: 20px;
    background: #6b4295;
    border: 3px dotted purple;
}

hr{
    border: none;
    border-top: 3px dotted rgba(128, 0, 128, 0.673);
    height: 3px;
    margin: 20px 0;            
}


li{
    text-align: justify;
}

h1{
    color: rgb(23, 13, 51);
    text-align: center;
}

/* Selector de etiqueta */
h2{
    color: rgb(92, 8, 92);
    text-align: center;
    font-style: italic;
}

p{
    text-align: justify;
}

iframe{
    display: block;
    margin: 0 auto;

}

img{
    display: block;
    margin: 0 auto; 
}