body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb(221, 207, 217);
    background-color: rgb(202, 150, 167);
    font-family: 'Franklin Gothic Medium';
    font-size: 50px;
}

h2 {
    font-size: 30px;
    font-style: oblique;
    color: rgb(134, 107, 71);
}

.subtitulo {
    color: rgb(134, 107, 71);
    font-family: 'Lucida Sans Regular';
    font-size: x-large;
}

p {
    font-family: 'Lucida sans';
    color: rgb(44, 26, 4);
}

footer {
    color: rgb(44, 26, 4);
    font-style: italic;
}