/*Selector Universal*/
* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(252, 231, 247);
    padding: 5%;
}
/* Selector por tipo */
header {
    background-color: rgb(252, 231, 247);
    color: rgb(247, 172, 222);
    padding: 10px;
    text-align: center;
}

/*Selector descendiente*/
nav a {
    margin: 15px; 
    color: rgb(160, 17, 117);
}

.contenedor {
    display: flex;
    margin: 20px;
}

main {
    padding: 5%;
    flex:3;
}

aside {
    flex: 1;
    background-color: rgb(160, 17, 117);
    color: white;
    padding: 10px;
    align-content:flex-start;
}

/*Selector por atributo*/
a[href*="github"] {
    color: white;
}

h1 {
    color: rgba(255, 255, 255, 0.918);
    background-color: rgb(160, 17, 117);
    font-style: oblique;
    font-size: 60px;
    padding: 10px;
}

h2 {
    font-size: 30px;
    font-style: oblique;
    color: rgb(160, 17, 117);
}

.subtitulo {
    color: rgb(105, 67, 90);
    font-size: x-large;
}

/*Selector de lista*/
p, li {
    color: rgb(133, 6, 112);
}

footer {
    color: rgb(48, 5, 42);
    font-style: italic;
    padding: 10px;
    text-align: center;
}

/*Selector por ID*/
#portadamusica {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-style: double;
    border-color: rgb(182, 9, 159);
    border-width: 10px
}

/*Selector por clase*/
.imgdanza {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0 auto;
}

.imgpeliculas {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 300px;
}