h1 {
    border: 3px double rgb(136, 3, 136);
    background-color: rgb(223, 194, 223);
    color: rgb(96, 3, 96);
}

section, nav {
    border:3px double rgb(162, 103, 162);
    background-color: rgb(231, 215, 231);
}

#n01 * {
    color: rgb(146, 21, 146);
}

img {
    border: 3px double rgb(129, 0, 129);
}

header {
    color: rgb(11, 11, 11);
}

a {
    color: rgb(137, 65, 137);
}

mark {
    background-color: plum;
}

th {
    background-color: rgb(162, 103, 162);
}

#n01 header {
    background-color: rgb(200, 169, 200);
}

#n02 {
    margin: 10px;
    border: 2px solid rgb(123, 77, 123);
    background-color: rgb(210, 171, 210)
}

.letra {
    background-color: rgb(220, 181, 220);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}