body{
    background-color:hsl(227.37deg 12.26% 30.39%) ;
    
}

h1{
    border: 10px solid hsl(227.37deg 12.26% 30.39%)  ;
    margin: 0;
    padding: 8px;
    text-align: center;
    font-size: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr{
    background-color: #D3DAD9;
    border: 3px solid #D3DAD9;
    width: auto;
    clear: both;
}
h2{
    border: 10px solid hsl(227.37deg 12.26% 30.39%)  ;
    margin: 0;
    padding: 8px;
    text-align: center;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hr2{
    background-color: hsl(227.37deg 12.26% 30.39%);
    border: 3px solid hsl(227.37deg 12.26% 30.39%);
    width: auto;
    clear: both;
}

.s1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.cajas{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
      
}

.cajas img{
    border-radius: 55px;
}