h1, h2, h3 {
    border-radius: 15px;
    margin: 15px;
    background-color: rgb(233, 147, 177);
    border: 3px solid rgb(30, 6, 162);
    color: rgb(233, 147, 177);
    text-align: center;
    padding-left: 10px;
}

h2{
    text-align: left;
}

body{
    background-color: rgb(191, 224, 234);
}