h1 {
    border: 3px double rgb(136, 3, 136);
    background-color: rgb(223, 194, 223);
    color: rgb(96, 3, 96);
}

section{
    margin: 20px;
    border:3px double rgb(162, 103, 162);
    background-color: rgb(231, 215, 231);
}

h3 {
    margin: 15px;
    color: rgb(109, 4, 109);
}


header {
    color: rgb(11, 11, 11);
}

img {
    margin: 10px;
    border: 3px solid rgb(136, 3, 136);
    background-color: rgb(223, 194, 223);
    color: rgb(96, 3, 96);
}

p, h4{
    margin: 15px;
}