.resaltar1{

    background-color: rgb(255, 0, 0);

}

.resaltar2{

    background-color:rgb(7, 180, 248);

}

.resaltar3{

    background-color: rgb(16, 204, 16);

}

.resaltar4{

    background-color: rgb(255, 255, 0);

}

.resaltar5{

    background-color: violet;

}