/** Clases de Index **/
.bodyindex{
	margin: 0;
    padding: 0;
    background-image: url(imagenes/fondobalatro.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.h1headerindex {
    background-color: chocolate;
    border: 3px double black;
    text-align: center;
}
.imgindexgeto{
    border: 3px solid black;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}
.ulindex {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darksalmon;
}
.liindex {
    float: left;
}
li .aindex {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li .aindex:hover {
    background-color: tomato;
}
.psombra {
    color: white;
    text-shadow: 
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
    text-align: center;
}