* {
    font-family: Arial, sans-serif;
}

body {
    background-color: rgb(232, 232, 232);
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

header > h1 {
    color: white;
    font-size: 25px;
}

nav {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border: 2px solid rgb(225, 225, 225);
  border-radius: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: inline-flex;
  gap: 40px;
}

nav a {
  background-color: white;  
  color: black;
  font-weight: bold;
  margin: 20px;
  padding: 10px 20px;
  border: 2px solid rgb(225, 225, 225);
  border-radius: 5px;
  text-decoration: none;
}

section {
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgb(225, 225, 225);
    margin: 20px;
}

h2 {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

p {
    padding: 13px;
    font-size: 15px;
}

img, iframe, video {
    margin: 10px;
    padding: 10px;
}

a[href*="https://"] {
    color: black;
    font-size: 15px;
}

#datosFutbol h2 ~ p {
    font-style: italic;
}

#datosCine h2:nth-of-type(2) + p {
    font-style: italic;
}

#tablaMusica {
    width: 50%;
    height: 90px;
    margin: 15px;
    padding: 10px;
    border-collapse: collapse;
}

#tablaCine {
    width: 30%;
    height: 90px;
    margin: 15px;
    padding: 10px;
    border-collapse: collapse;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.textoFooter {
    color: white;
    text-align: center;
}