body {
  background-color: rgb(230, 246, 250); 
  font-family: Verdana, Helvetica, sans-serif;
  padding: 15px;
}

li{
  list-style: none;
  text-decoration: none;
}

p.titulo{
     font-weight: bold;
}

img {
  display: block;
  margin-bottom: 10px;
  
}