body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: burlywood;
    color: #333;
}

/* Encabezado */
header {
    text-align: center;
    margin-bottom: 20px;
}

/* Navegación */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

/* Secciones */
section {
    margin-bottom: 20px;
}

/* Tablas */
table {
    width: 100%;
    border: 1px solid #333;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
}

/* Aside */
aside {
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}

/* Selector universal */
* {
    box-sizing: border-box;
}

/*  Selector de tipo etiqueta */
h2 {
    color: darkblue;
}
/* Selector por ID */
#favoritos {
    background-color: rgba(255, 255, 255, 0.7);
}

/* Selector por clase */
.resaltado {
    color: red;
    font-weight: bold;
}

/* Selector de atributo */
a[href] {
    text-decoration: underline;
    color: darkred;
}

/* Selector de lista (múltiples elementos) */
h1, footer {
    text-transform: uppercase;
}

/* Selector de descendientes */
section p {
    font-style: italic;
}

/* Selector hijos directos */
nav > ul {
    background-color: lightyellow;
    padding: 5px;
}

/*  Selector hermano adyacente */
h2 + p {
    background-color: lightgreen;
}

/*  Selector hermano general */
h2 ~ table {
    border: 2px dashed darkgreen;
}