/* 1. Selector universal */
* {
    justify-content: center;
}


/*2. Selector de tipo */
img{
    width: 300px;
    border-radius: 10px;
    margin-left: 150px;

}

/*3. Selector por ID */

#mtb{
    color: orange;
}

/*4. Selector por clase */
.navPages{
    display: flex;
    border-bottom: 3px solid aquamarine;
    box-shadow: 0 20px 20px rgba(0,0,0,0.1);
    padding: 10px;
}

/*5. Selector de atributo */
audio[src="musica/requinto.weba"]{
    border-radius: 15px;
}

/*6. Selector de lista */

ul li{  
display: inline-block;
}

/*7. Selector de descendientes */

article p{
    width: 600px;
    text-align: center;
}


/*8. Selector hijos directos */

li > a{
padding: 0 10px;
text-decoration: none; 
color: black;
}

/*9. Selector hermano adyacente  Pagina 5*/

input + button{
    margin: 10px 0;
}

/*10. */

label ~ select {
background-color: blanchedalmond;
}

.navLinks:hover{
padding: 0 10px;
text-decoration: none; 
color:aqua;
}

label {
    padding-top: 20px;
    padding-bottom: 5px;
}

h1{
    display: flex;
}

section{
    display: grid;
    border-radius: 10px;
   padding: 10px 
}

header{
        display: flex;
}

footer{
    padding-top: 50px;
}

.code{
    color: green;
}

.musica{
    color: blue;
}

.videojuegos{
    color: red;
}






