body.menu{
    background-color: rgba(222, 174, 15, 0.356);
}

.titulos {
    border-radius: 15px ;
    margin: 15px;
    background-color: rgba(8, 0, 255, 0.271);
    border-color: black;
    border: 3px;
    border-style: solid;
    text-align: center;
}

.videos {
    text-align: center;
}

.fondos {
    background-color: rgba(5, 151, 151, 0.377);
}

.menu-pag{
    text-align: center;
}


/* Selector universal */
#img1 *{
    border: 10px double white;
    border-radius: 25px;
    background-color: rgba(6, 222, 222, 0.377);
    display: inline-block;
    margin: 0 auto;
}

/* Selector de tipo */
#t01 h1 {
    border-radius: 15px ;
    margin: 15px;
    background-color: rgba(8, 0, 255, 0.271);
    border-color: black;
    border: 3px;
    border-style: solid;
    text-align: center;
}
/* Selector por id */
#v01 {
    border: 10px double white;
    border-radius: 25px;
    background-color: rgba(6, 222, 222, 0.377);
    display: inline-block;
    padding-left: 2px;
    padding-right: 20px;
}

/* Selector de atributo */
img[src] {
    margin: 0 auto;
    display: block;
}

/* Selector de clase */
.contenido {
    grid-area: aside;
    background: rgba(91, 80, 5, 0.323);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    border: 1px solid rgba(42, 3, 3, 0.389);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    color: rgb(27, 24, 2);
    position: absolute;
    right: 120px;
    top: 80px; 
    width: 250px; 
}

@media (max-width: 768px) {
    .contenido {
        position: static;   
        width: 100%;        
        margin-top: 20px;  
    }

    main {
        width: 100%;
    }
}
/* Selector de lista */
footer, address {
    background-color: rgba(9, 81, 81, 0.314);
    display: inline;
    border: 1px ;
    border-radius: 5px;
    padding: .25rem;
    color: black;
}

/* Selector de descendientes */
header p{
   text-align: justify;
}

/* Selector hijo directo */
ul > li:hover{
    border: 1px double black;
    display: inline-block;
}
/* Selector hermano adyacente */
hr + p  {
    background-color: dodgerblue;
    border-radius: 15px;
    border: 1px double black;
    padding: 5px 10px; 
    color: yellow;
}
/* Selector hermano general */
table ~ div {
    text-align: center;
}