/* Estilos para la practica 6 */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 15px;
}
.c-background {
    background: radial-gradient(rgb(13, 39, 117), rgb(0, 0, 0)) ;
}
.first-header {
    background:#004d6b;
    border-bottom: 7px solid #008bc2;
    color:rgb(247, 228, 153);
    font-size: 20px;
    text-align: center;
    padding: 5px;
}
.config-img {
    gap: 2px;
    display: flex;
    align-items: center;
}
.config-img img {
    height: 300px;
    width: 200px; 
    border-radius: 20px;
}
.datos-personales {
    background: rgb(27, 27, 31);
    color:blanchedalmond;
    border-bottom: 10px solid black;
    font-size: 15px;
    font-weight:bold;
    padding: 5px 150px 5px;
}