
/*Selector universal*/
*{
    box-sizing: border-box;
}

/*Selector de tipo*/
p { 
    line-height: 1.55; 
}

/*Selector por ID*/
#horas { 
    border: 2px solid #2563eb; border-radius: 6px; 
}

/*Selector por clase*/
.boton {
  display:inline-block;
  padding:.6rem 1rem;
  border-radius:999px;
}

/*Selector por atributo*/
input[required] { 
    outline: 3px solid #f59e0b; 
}

/*Selector de lista*/
h1, footer p { 
    color: darkblue; 
}

/*Selector de descendiente*/
main table td {
     background: lightslategray; 
}

/*Selector de hijo directo*/
nav > a { 
    margin:0 .35rem; padding:.15rem .35rem; 
}

/*Selector de hermano adyacente*/
header + nav { 
    border-top: 3px solid #111; 
}

/*Selector de hermano general*/

header ~ main { 
    box-shadow:0 8px 24px rgba(0,0,0,.08);
}

body{
    background-color: #facba5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header{
    font-size: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 13vh;
}

nav{
    display: flex;
    align-items: center;
}

a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 30pxpx;
    letter-spacing: .5px;
    padding: 0 10px;
}

main{
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    border: 5px solid black;
    width: 70%;
    padding: 3rem;
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
th,td{
    padding: 10px;
}
img{
    max-width: 200px;
}
footer{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    background-color: #ffb478;
    height: px;
}
