#a15 {
    display: inline-block;
    border: 5px groove rgb(0, 247, 255);
    background-color: rgb(1, 43, 80);
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#a15 a {
    color: rgb(0, 0, 0);
}