body {
    margin: 0;
    background-color: #ede8de;
}

h1, h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header p, footer p{
    margin: 0;
}

header {
    padding: 25px 0 25px;
    background-color: #000000;
    color: #ede8de;
    border-top: 10px solid #ff041b;
    border-bottom: 10px solid #0029ae;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    font-style: italic;
    text-align: center;
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 50px;
}

footer {
    padding: 25px 0 25px;
    background-color: #000000;
    color: #ede8de;
    border-top: 10px solid #ff041b;
    border-bottom: 10px solid #0029ae;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    font-style: italic;
    text-align: center;
}

article {
    margin: 50px;
    padding: 25px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 10px solid #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

#s1 {
    margin-top: 25px;
    border-bottom: 5px solid #fabb3b;
}

#s2 {
    margin-top: 25px;
    border-bottom: 5px solid #009c5a;
}

#s3 {
    margin-top: 25px;
    border-bottom: 5px solid #d74519;
}