body {
    margin: 0;
    background-color: whitesmoke;
}

h1, h2, h3 {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

header {
    padding: 25px 0 25px;
    background-color: black;
    color: whitesmoke;
    border-top: 10px solid slategray;
    border-bottom: 10px solid slategray;
    text-align: center;
}

article {
    margin: 50px;
    padding: 25px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 5px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    padding: 25px 0 25px;
    background-color: black;
    color: whitesmoke;
    border-top: 10px solid slategray;
    text-align: center;
}

#a1 {
    color: #fabb3b;
}

#a2 {
    color: #39ae60;
}

#a3 {
    color: #ea5718;
}

#s1 {
    margin-top: 25px;
    border-bottom: 5px solid #fabb3b;
}

#s2 {
    margin-top: 25px;
    border-bottom: 5px solid #39ae60;
}

#s3 {
    margin-top: 25px;
    border-bottom: 5px solid #ea5718;
}