body {
    margin: 0;
    background-color: #ede8de;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

h1, h2, a {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-align: center;
}

main {
    margin: 50px;
    text-align: justify;
}

#sp2 div, #sp3 div, #sp4 div, #sp5 div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Index */
#h_i {
    padding: 25px 0 25px;
    background-color: #003a79;
    border-bottom: 10px solid #ff041b;
    color: #ede8de;
    font-size: 32;
}

#n_i {
    margin-top: 50px;
    padding: 25px;
    border-top: 5px dashed #003a79;
    border-bottom: 5px dashed #ff041b;
    text-align: center;
}

#n_i ul, #m_i section div ul, #a_i ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#n_i li, #m_i section div li, #a_i li {
    display: inline-block;
    margin: 0 45px 0;
}

#m_i section {
    margin: 50px 0 50px;
    padding: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top: 10px solid #003a79;
    border-left: 10px solid #003a79;
    border-right: 10px solid #ff041b;
    border-bottom: 10px solid #ff041b;
}

#m_i section div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#m_i img {
    width: 450px;
    height: 250px;
    margin: 25px 0 50px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top: 5px solid #003a79;
    border-left: 5px solid #003a79;
    border-right: 5px solid #ff041b;
    border-bottom: 5px solid #ff041b;
}

#m_i table, #m_i form {
    margin: 25px 0 50px;
}

#m_i form input, #m_i form textarea, #m_i form button {
    width: 500px;
}

#a_i {
    margin-bottom: 50px;
    padding: 25px;
    border-top: 5px dashed #003a79;
    border-bottom: 5px dashed #ff041b;
    text-align: center;
}

#f_i {
    padding: 25px 0 25px;
    background-color: #003a79;
    border-top: 10px solid #ff041b;
    color: #ede8de;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-align: center;
}

/* Pasatiempo 1 */
#hp1 {
    padding: 25px 0 25px;
    background-color: #fabb3b;
    border-bottom: 10px solid #000000;
    text-align: center;
}

#sp1 {
    margin: 50px 0 50px;
    padding: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 5px solid #fabb3b;
}

#sp1 div {
    width: 450px;
    height: 250px;
    margin: 50px 100px 50px;
    display: inline-block;
}

#sp1 img, #sp1 video {
    width: 450px;
    height: 250px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 5px solid #fabb3b;
}

#ap1 {
    margin-bottom: 50px;
    padding: 25px;
    border-top: 5px dashed #fabb3b;
    border-bottom: 5px dashed #fabb3b;
}

#ap1 a {
    color: #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fp1 {
    padding: 25px 0 25px;
    background-color: #fabb3b;
    border-top: 10px solid #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-align: center;
}

/* Pasatiempo 2 */
#hp2 {
    padding: 25px 0 25px;
    background-color: #009c5a;
    border-bottom: 10px solid #000000;
    text-align: center;
}

#sp2 {
    width: 300px;
    margin: 25px 50px 0;
    padding: 25px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 5px solid #009c5a;
    display: inline-block;
}

#sp2 img {
    width: 300px;
    height: 300px;
    margin: 25px 0 0;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 5px solid #009c5a;
}

#sp2 a {
    margin: 25px 0 0;
    color: #009c5a;
}

#ap2 {
    margin-bottom: 50px;
    padding: 25px;
    border-top: 5px dashed #009c5a;
    border-bottom: 5px dashed #009c5a;
}

#ap2 a {
    color: #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fp2 {
    padding: 25px 0 25px;
    background-color: #009c5a;
    border-top: 10px solid #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-align: center;
}

/* Pasatiempo 3 */
#hp3 {
    padding: 25px 0 25px;
    background-color: #d74519;
    border-bottom: 10px solid #000000;
    text-align: center;
}

#sp3 {
    width: 300px;
    margin: 25px 50px 0;
    padding: 25px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 5px solid #d74519;
    display: inline-block;
}

#sp3 img {
    width: 300px;
    height: 200px;
    margin: 25px 0 0;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 5px solid #d74519;
}

#ap3 {
    margin-bottom: 50px;
    padding: 25px;
    border-top: 5px dashed #d74519;
    border-bottom: 5px dashed #d74519;
}

#ap3 a {
    color: #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fp3 {
    padding: 25px 0 25px;
    background-color: #d74519;
    border-top: 10px solid #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-align: center;
}

/* Pasatiempo 4 */
#hp4 {
    padding: 25px 0 25px;
    background-color: #39a2dc;
    border-bottom: 10px solid #000000;
    text-align: center;
}

#sp4 {
    width: 300px;
    margin: 25px 50px 0;
    padding: 25px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 5px solid #39a2dc;
    display: inline-block;
}

#sp4 img, #sp4 video {
    width: 300px;
    height: 200px;
    margin: 0;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 5px solid #39a2dc;
}

#ap4 {
    margin-bottom: 50px;
    padding: 25px;
    border-top: 5px dashed #39a2dc;
    border-bottom: 5px dashed #39a2dc;
}

#ap4 a {
    color: #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fp4 {
    padding: 25px 0 25px;
    background-color: #39a2dc;
    border-top: 10px solid #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-align: center;
}

/* Pasatiempo 5 */
#hp5 {
    padding: 25px 0 25px;
    background-color: #b932b6;
    border-bottom: 10px solid #000000;
    text-align: center;
}

#sp5 {
    width: 300px;
    margin: 25px 50px 0;
    padding: 25px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 5px solid #b932b6;
    display: inline-block;
}

#sp5 img {
    width: 300px;
    height: 200px;
    margin: 25px 0 0;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 5px solid #b932b6;
}

#ap5 {
    margin-bottom: 50px;
    padding: 25px;
    border-top: 5px dashed #b932b6;
    border-bottom: 5px dashed #b932b6;
}

#ap5 a {
    color: #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fp5 {
    padding: 25px 0 25px;
    background-color: #b932b6;
    border-top: 10px solid #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-align: center;
}