* {
  box-sizing: border-box;
}


body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

header {
  text-align: center;
  background: palevioletred;
  border-bottom: 2px solid gray;
  padding: 14px;
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

h2 {
    text-align: center;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 8px 72px;
  border: 1px solid white;
  border-radius: 6px;
}

main {
  padding: 16px;
}


.layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
}


aside {
  background: pink;
  border: 1px solid wheat;
  border-radius: 8px;
  padding: 12px;
}


footer {
  margin-top: 20px;
  padding: 16px;
  border-top: 2px solid wheat;
  background: lightpink;
  text-align: center;
}

article {
  background: wheat;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  padding: 16px;
}


table {
  border-collapse: collapse;
  width: 50%;
  background: wheat;
  margin: 0 auto;   
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

caption {
  caption-side: top;
  font-weight: 700;
  padding: 8px;
}

form {
  background: pink;
  border: 3px solid white;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}

img {
  display: block;      
  margin: 0 auto; 
  border-radius: 8px; 
}

.imagenes {
  display: flex;             
  justify-content: center;    
  gap: 20px;                 
}

.imagenes img {
  width: 300px;   
  border-radius: 8px;
}

section {
  margin-bottom: 50px;
}

iframe {
  display: block;      
  margin: 0 auto;     
  border-radius: 10px;
}

.videos {
  display: flex;
  justify-content: center; 
  gap: 10px;              
  flex-wrap: wrap;         
}

#inicio * {
  color: rgb(89, 15, 99);
}

#inicio p {
  color: rgb(80, 75, 75);
}


#contenido_anime {
  background-color: rgb(173, 138, 196);
  border: 2px solid black;
  padding: 12px;
  border-radius: 8px;
}

.favoritos {
  background-color: pink;
  border: 2px dashed indianred;
  padding: 10px;
}

img[alt] {
  border: 4px solid black;
  border-radius: 6px;
}

h3, h4 {
  color: midnightblue;
  letter-spacing: 0.3px;
  margin-bottom: 6px;
}

#videojuegos p {
  color: darkslategrey;
  font-style: italic;
}

#videojuegos section > h3 {
  color: chocolate;
  background: plum;
}

#griega h3 + p {
  background: #e0e7ff;
  padding: 6px;
}

#griega h3 ~ p {
  background: palegreen;
  padding: 6px;
}