.titulos {
    border-radius: 15px ;
    margin: 15px;
    background-color: rgb(233, 233, 156);
    border-color: black;
    border: 3px;
    border-style: solid;
}

.textostyle {
    border-radius: 15px ;
    background-color: rgb(226, 226, 157);
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    position: relative;
}


.concertimg {
    float: left;
    width: 300px;
    margin-left: 20px;
    position: relative;
    bottom: 5px;
}

